# -*-sh-*-

### Directories
test

### Binaries
*.o
*.a
*.so
*.os
*.py[cod]
*.mod
*.nc

### Temporary files
*.log
*.bck
machine.pid
core
munich
src/munich

### SCons files
*.scon*
config.log
*.cc

### Git files
*.orig
*.
*._\\d+

### Emacs files
*~
\#*\#
.\#*

### Result files
processing/*/results/*.bin
