# -*-sh-*-

### Directories for sub-modules
test
include/SeldonData/
include/AtmoData/
include/Talos/
include/ssh-aerosol/
include/atmopy/

### Binaries
*.o
*.a
*.so
*.os
*.py[cod]
*.mod
*.nc
preprocessing/output
!processing/ssh-aerosol/libssh-aerosol.so

### Temporary files
*.log
*.bck
machine.pid
core
munich
munich-ssh
src/munich
.build/*
.nfs*
*.sav
*.old
preprocessing/street-merging-lookup-table.txt

### SCons files
*.scon*
config.log
*.cc

### Git files
*.orig
*.
*._\\d+

### Emacs files
*~
\#*\#
.\#*

### Result files
processing/*/results/*.bin

### Spack
include/modules/chemistry/CB05/*.f*
include/modules/chemistry/RACM/*.f*
include/modules/chemistry/RACM2/*.f*
include/modules/chemistry/*/species.spack.dat
include/modules/chemistry/Leighton/*.f*
include/modules/chemistry/MELCHIOR2/*.f*
include/spack/src/LU_generator
include/spack/src/find_perm
include/spack/src/spack_generator
include/spack/src/spack_input
include/spack/src/.scons.log
include/spack/src/mechanism/*


### Files in old version
include/isorropia_aec/
include/models_final/
include/modules/aerosol/Aerosol_SCRAM_SOAP*
include/modules_LL
processing/aerosol
