[display]

Show_iterations: yes
Show_date: yes

[domain]

# Domain where species concentrations are computed.
Date_min = 2014-03-16-00	Delta_t = 100.0  Nt = 6048

# File containing the species data.
Species:  species-cb05.dat


[options]

# With chemistry module (yes or no)
With_chemistry: yes

# Which chemistry model (RACM, RACM2 or CB05, Leighton)?
Option_chemistry: CB05

# With adaptive time stepping for gaseous chemistry?
With_adaptive_time_step_for_gas_chemistry: yes
Adaptive_time_step_tolerance: 0.001
# Minimum time step that can be used.
Min_adaptive_time_step: 1.0
# Maximum time step that can be used.
Max_adaptive_time_step: 100.0

With_photolysis: yes

# Photolysis tabulation option compute from tabulations (1) or read from binary
# files (2).
Photolysis_tabulation_option: 2


[street]

# Parameterization to compute turbulent transfert velocity: "Sirane" or "Schulte".
Transfert_parameterization: Schulte

# Parameterization to compute mean wind speed within the street-canyon: "Sirane" or "Lemonsu".
Mean_wind_speed_parameterization: Lemonsu

# Parameterization to choose the numerical method: "ETR" or "Rosenbrock"
Numerical_method_parameterization: ETR

# If the horizontal fluctuation is taken into account.
With_horizontal_fluctuation: yes # yes or no

# File containing the input data for intersections.
Intersection: intersection.dat

# File containing the input data for streets.
Street: street.dat

# Minimum wind speed within the streets.
Minimum_Street_Wind_Speed: 0.1 # in m/s

# If meteo data and background concentrations are available for each street.
With_local_data: yes

# If stationary hypothesis are used to compute pollutant concentrations at streets: yes or no.
With_stationary_hypothesis: no

# Minimum time step for the non-stationary case in seconds
Sub_delta_t_min: 1.0


[data]

# File describing the input data.
Data_description: munich-data.cfg

[output]

# File describing which concentrations are saved.
Configuration_file:  munich-saver.cfg
